body {
    background-color: #d7d7d7;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #999b99;
    text-align: center;
}

.center {
    width: 1300px;
    margin: 0 auto;
}

.header a {
    color: #373737;
    font-size: 32px;
    font-weight: 100;
    padding: 50px;
}

h1 {
    font-size: 32px;
    color: #32453b;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: 100;
    text-align: left;
}

p {
    font-size: 24px;
    font-weight: 100;
    text-align: left;
    padding-left: 50px;
}

ul {
    font-size: 18px;
    text-align: left;
    padding-left: 50px;
}

.footer {
    background-color: #d1d1d1;
    text-align: center;
    color: #484848;
    font-size: 16px;
    font-weight: 100;
    line-height: 50px;
}
